.body {
    background-color: #778da9;
    font-family: "Roboto", sans-serif;
    margin: 35px;
}

h1, h2 {
    background-color: #0d1b2a;
    padding: 25px 0px;
    color: white;
}

h2 {
    margin: 25px 0px;
}
.custom-align-label-select {
    display: flex;
    flex-direction: column;
}
#select {
 height: 38px;
 border-radius: 0.25rem;
 transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.footer {
    background-color: #0d1b2a;
    color: lightgrey;
    padding: 15px 0px;
}

.form-row {
    padding-left: 15px;
}

.container {
    margin: 20px;
}

.card-columns {
    padding: 15px;
}

.card-title {
    padding: 20px;
}

.card-body {
    background-color: #e0e1dd;
    overflow: hidden;
    max-height: 340px; 
}
.card-text {
    overflow: hidden;
    max-height: 48px;
}
.card-text:hover {
    overflow:scroll;
}

li {
    list-style: none;
}