
.body {
    font-family: 'Quicksand', sans-serif;
    margin: 40 px;
    background-color: #e8e8e8;
}

#todo-form {
    margin: 35px;
}

label {
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: #0D4C92;
}

input, select, textarea {
    border-style: solid !important;
    border-color: #eb8d40 !important;
    border-width: 5px !important;
    border-radius: 12px !important;
  }

h1, h2 {
    font-family: 'Quicksand', sans-serif;
    background-color: #0D4C92;
    margin: 40px;
    padding: 15px;
    color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: #EF9A53;
    border-width: 15px;
}


.custom-align-label-select {
    display: flex;
    flex-direction: column;
}
#select , #taskname, #dueDate {
 height: 45px;
 transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.footer {
    background-color: #EF9A53;
    color: rgb(255, 255, 255);
    font-size: larger;
    padding: 15px;
    margin: 35px;
    font-family: 'Quicksand', sans-serif;
}

.form-row {
    margin: 20px;
}

.card-title {
    padding: 5px;
    color: #0D4C92;
    font-size: larger;
    font-weight: bolder;
    height: 15%;
}

.card {
    margin: 55px;
    border: none !important;
    background-color: transparent !important;
}

.card-body {
    background-color:  rgb(255, 255, 255) ;
    height: 375px; 
    width: 375px; 
    border-style: solid;
    border-color: #eb8d40;
    border-width: 8px;
    border-radius: 20px;
}

.card-text {
    overflow: hidden;
    height: 115px;
}
.card-text:hover {
    overflow:scroll; 
}

li {
    list-style: none;
    display: inline-block;
}

.col {
    margin: 30px;
    border: transparent;
}

.btn-block {
    background-color: #0D4C92!important;
    color:white !important;
    border-style: outset !important;
    border-color:  #0D4C92 !important;
    border-width: 5px !important;
    border-radius: 20px !important;
}
.assignment, .due, .status {
    line-height: 1;
}

.status {
    font-weight: bold;
}